    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>Hello, my name is Brad Stachurski. I’m a data scientist and entrepreneur living in Chicago.</p>
                <p>I help startups build valuable products using data, specifically in the visualization process. I’m also a recovering options trader that traded professionally in electronic and pit environments at the <a href="https://en.wikipedia.org/wiki/Chicago_Board_Options_Exchange">Chicago Board of Options Exchange</a>.</p>
                <p>In my spare time I enjoy setting up businesses that generate passive income. I’m currently utilizing Airbnb’s platform to automate opportunities in the rental arbitrage market. My portfolio is a <a href="https://www.airbnb.com/rooms/9577653?s=KowtqEVn">one bedroom</a> and <a href="https://www.airbnb.com/rooms/11228600?s=KowtqEVn">two bedroom</a> in Lincoln Park, Chicago.</p>
            </div>
        </div>
    </section>